@model Nop.Plugin.Widgets.JustHtml.Models.WidgetModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")


<form asp-controller="JustHtmlWidget" asp-action="ConfigureItem" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.JustHtml.Widgets.Instructions")
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Id_OverrideForStore" asp-input="Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Id" type="hidden" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="WidgetZone" />
                    </div>
                    <div class="col-sm-9">
                        <nop-select asp-for="WidgetZone" asp-items="Model.AvailableWidgetZones" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="Content" />
                    </div>
                    <div class="col-sm-9">
                        <nop-textarea asp-for="Content" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="IsActive" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="IsActive" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="Order" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="Order" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                        <button type="submit" name="save-continue" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.SaveContinue")
                        </button>

                        @if (Model.Id > 0)
                        {
                            <span id="widget-delete" class="btn bg-red">
                                <i class="fa fa-trash-o"></i>
                                @T("Admin.Common.Delete")
                            </span>
                        }
                        <a asp-action="Configure" class="btn bg-aqua">
                            <i class="fa fa-arrow-circle-left"></i>
                            @T("Admin.Common.Cancel")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@if (Model.Id > 0)
{
    <nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="widget-delete" />
}
